h1 {
    font-family: "Shrikhand", cursive;
    color: #13fdd7;
    font-size: 60px;
    -webkit-text-stroke: 2px #13fdd7;
    text-transform: uppercase;
    /* Enlève la couleur intérieur du text */
    -webkit-text-fill-color: transparent;
}

#navbar {
    max-width: auto;
    margin: auto;
}
body {
    background-color: #1d1d1d;
    color: #f1f1f1;
    margin: 0;
}
hr {
    border: #bbb;
}
p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

/* Image Modal  */

#imgProjet {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
/* Style the Image Used to Trigger the Modal */

#imgProjet:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 85%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* NavBar */

#navbar {
    background-color: #1d1d1d;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    border-bottom: 2px solid #dde8f0;
    z-index: 9999;
}
#img-logo {
    padding-left: 200px;
    height: 150px;
    bottom: 100px;
}
/* NavBar menu */

ul.menuheader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 200px;
    overflow: hidden;
    background-color: #1d1d1d;
    font-family: "Roboto", sans-serif;
    font-family: "Solitreo", cursive;
    font-size: 35px;
}

ul.menuheader li {
    float: right;
    margin-left: 100px;
}

ul.menuheader li a {
    display: block;
    color: #dde8f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the menu color on hover */
ul.menuheader li a:hover {
    color: #ff52b4;
    text-decoration: none;
}

/* Footer  */

ul.menufooter {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1d1d1d;
}

/* Footer menu */
ul.menufooter li {
    float: left;
}

ul.menufooter li a {
    display: block;
    color: #dde8f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-family: "Solitreo", cursive;
    font-size: 15px;
}

/* Change the link color to #111 (black) on hover */
ul.menufooter li a:hover {
    color: #ff52b4;
}

/* Section About-me */

#aboutme {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.abouttext {
    padding-left: 200px;
    margin-top: 0;
    flex-basis: 33%;
    flex-shrink: 1;
}
#aboutme::after {
    bottom: 0;
    position: absolute;
    margin-bottom: -440px;
    content: "";
    background: rgb(28, 249, 212);
    height: 70px;
    display: block;
    width: 100%;
    /* transform: rotate(-2deg); */
    transform-origin: left top;
    transform: skew(0deg, -1deg);
}
.img-aboutme {
    margin-top: 0;
    margin-right: 200px;
}

/* Section Skills */
#skills::after {
    bottom: 0;
    position: absolute;
    margin-bottom: -440px;
    content: "";
    background: rgb(28, 249, 212);
    height: 60px;
    display: block;
    width: 100%;
    /* transform: rotate(-2deg); */
    transform-origin: left top;
    transform: skew(0deg, -1deg);
}

#skills {
    margin-top: 440px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.skillstext {
    padding-left: 200px;
    margin-top: 100px;
    flex-basis: 33%;
    flex-shrink: 1;
}
.skillsicons {
    display: flex;
    height: 150px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 25%;
    gap: 15px;
    margin-right: 425px;
    margin-top: 150px;
}
.skillsicons img {
    width: 25%;
}

/* Section Projets */

#projets {
    margin-top: 600px;
    position: relative;
}
.projets {
    padding-left: 200px;
    margin-top: 0;
    flex-shrink: 1;
}
.listprojets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: 550px;
    margin-top: 100px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
}
article {
    flex-basis: 21%;
}
article img {
    width: 100%;
}
#projets::after {
    bottom: 0;
    position: absolute;
    margin-bottom: -400px;
    content: "";
    background: rgb(28, 249, 212);
    height: 60px;
    display: block;
    width: 100%;
    /* transform: rotate(-2deg); */
    transform-origin: left top;
    transform: skew(0deg, -1deg);
}

/* Section Contact */

#contact {
    margin-top: 550px;
    position: relative;
    padding: 0 200px;
}

.contact {
   
    margin-top: 0;
}

.imgcontact {
    flex-basis: 50%;
    height: 800px;
    background-image: url("../img/day\ trip\ image_220321.jpeg");
    background-size: cover;
    
}
/* .imgcontact img {
    width: 100%;
    margin-top: 0px;
    margin-right: 300px;
    margin-bottom: 80px;
    height: 100%;

} */

/* Form Contact */

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ff52b4;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: rgb(28, 249, 212);
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #04aa6d;
}

.formcontact {
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.form {
    border-color: #ff52b4;
    margin-top: 0px;

}
